# Building Locally:
# Run: pip install mkdocs mkdocs-material mkdocstrings[python] mkdocs-material-extensions
# Run: mkdocs serve
# Open: http://localhost:8000/arcpie/

site_name: arcpie
site_url: https://hwelch-fle.github.io/arcpie
repo_url: https://github.com/hwelch-fle/arcpie

theme:
  name: material
  #custom_dir: overrides
  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/lightbulb-auto
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: teal
      accent: amber
      toggle:
        icon: material/lightbulb
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: teal
      accent: amber
      toggle:
        icon: material/lightbulb-outline
        name: Switch to system preference
  features:
    - announce.dismiss
    - content.code.annotate
    - content.code.copy
    - content.code.select
    - content.footnote.tooltips
    - content.tabs.link
    - content.tooltips
    - navigation.footer
    - navigation.indexes
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.instant.preview
    - navigation.instant.progress
    - navigation.path
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow

markdown_extensions:
  # Python Markdown
  abbr:
  attr_list:
  footnotes:
  md_in_html:
  tables:
  toc:
    permalink: true

  # Python Markdown Extensions
  pymdownx.betterem:
    smart_enable: all
  pymdownx.caret:
  pymdownx.highlight:
    line_spans: __span
  pymdownx.inlinehilite:
  pymdownx.keys:
  pymdownx.mark:
  pymdownx.snippets:
  pymdownx.superfences:
    custom_fences:
      - name: mermaid
        class: mermaid
        format: !!python/name:pymdownx.superfences.fence_code_format
  pymdownx.tilde:

  # pymdownx blocks
  pymdownx.blocks.admonition:
    types:
      - note
      - attention
      - caution
      - danger
      - error
      - tip
      - hint
      - warning
      # Custom types
      - info
      - check
  pymdownx.blocks.details:
  pymdownx.blocks.tab:
    alternate_style: True

extra_javascript:
  - https://unpkg.com/mermaid@10.9.0/dist/mermaid.min.js

extra:
  mkdocstrings:
    default_handler: python
    handlers:
      python:
        docstring_style: google
        options:
          docstring_section_style: spacy
          modernize_annotations: true
          show_labels: false
          backlinks: tree
          show_root_heading: true
          show_if_no_docstring: true
          show_docstring_yields: true
          inherited_members: true
          overloads_only: true
          members_order: source
          separate_signature: true
          show_signature_type_parameters: true
          show_signature: true
          show_signature_annotations: true
          filters:
            - "!^_"
          merge_init_into_class: true
          signature_crossrefs: true
          show_symbol_type_heading: true
          show_symbol_type_toc: true
          parameter_headings: true
          type_parameter_headings: true
          rendering:
            show_source: false
          selection:
            docstring_style: google
          summary:
            classes: yes
            functions: yes
            attributes: yes

nav:
  - Home: index.md
  - Modules:
      - featureclass: modules/featureclass.md
      - database: modules/database.md
      - cursor: modules/cursor.md
      - network: modules/network.md
      - project: modules/project.md
      - toolbox: modules/toolbox.md
      - utils: modules/utils.md
      - diff: modules/diff.md
      - schema: modules/schema.md
  - Examples:
      - Getting Started: examples/1_getting-started.md
      - Feature Interaction: examples/2_feature-interaction.md

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          paths: [src]
  - autorefs
